In [20]:
import pandas as pd
import numpy as np
import json
from convert_modules import address_convert as ac,others_convert as oc, number_convert as nc

In [16]:
with open("../../data/batdongsan/raw/Dat_raw-dataset.json", "r", encoding="utf-8") as file:
    data = json.load(file)
    df_raw = pd.json_normalize(data)
    df_raw.drop_duplicates(inplace=True, ignore_index=True)

In [17]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23891 entries, 0 to 23890
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DienTich      23890 non-null  object
 1   DiaChi        23890 non-null  object
 2   City          23890 non-null  object
 3   District      23890 non-null  object
 4   MucGia        23890 non-null  object
 5   MatTien       16077 non-null  object
 6   DuongVao      14732 non-null  object
 7   PhapLy        19304 non-null  object
 8   Lat           22236 non-null  float64
 9   Long          22236 non-null  float64
 10  HuongNha      8089 non-null   object
 11  HuongBanCong  31 non-null     object
 12  NoiThat       86 non-null     object
 13  SoPhongNgu    63 non-null     object
 14  SoTang        61 non-null     object
 15  SoToilet      60 non-null     object
dtypes: float64(2), object(14)
memory usage: 2.9+ MB

## Drop những cột không cần thiết

In [18]:
df_raw = df_raw.drop(columns=['HuongNha','HuongBanCong','NoiThat','SoPhongNgu','SoTang','SoToilet'])

In [19]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23891 entries, 0 to 23890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DienTich  23890 non-null  object
 1   DiaChi    23890 non-null  object
 2   City      23890 non-null  object
 3   District  23890 non-null  object
 4   MucGia    23890 non-null  object
 5   MatTien   16077 non-null  object
 6   DuongVao  14732 non-null  object
 7   PhapLy    19304 non-null  object
 8   Lat       22236 non-null  float64
 9   Long      22236 non-null  float64
dtypes: float64(2), object(8)
memory usage: 1.8+ MB

## Số hóa dữ liệu

In [21]:
ac.address_convert_all(df_raw)
nc.area_transform(df_raw)
nc.price_convert(df_raw)
nc.facade_transform(df_raw)
nc.way_transform(df_raw)
oc.legalty_convert_all(df_raw)

In [22]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23891 entries, 0 to 23890
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DienTich  23890 non-null  float64
 1   DiaChi    23890 non-null  object
 2   City      23890 non-null  Int32
 3   District  23882 non-null  Int32
 4   MucGia    20061 non-null  object
 5   MatTien   16077 non-null  float64
 6   DuongVao  14732 non-null  float64
 7   PhapLy    19304 non-null  Int8
 8   Lat       22236 non-null  float64
 9   Long      22236 non-null  float64
 10  Ward      23670 non-null  Int32
dtypes: Int32(3), Int8(1), float64(5), object(2)
memory usage: 1.7+ MB

## Lưu ra file

In [23]:
df_raw.to_csv('../../data/batdongsan/numerized/Dat_numerized-dataset.csv',False)