In [1]:
import pandas as pd
import numpy as np
import json
from convert_modules import address_convert as ac,others_convert as oc, number_convert as nc

In [2]:
with open("../../data/batdongsan/raw/ChungCu_raw-dataset.json", "r", encoding="utf-8") as land_file:
    data = json.load(land_file)
    df_raw = pd.json_normalize(data)
    df_raw.drop_duplicates(inplace=True, ignore_index=True)

In [3]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22827 entries, 0 to 22826
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DienTich      22823 non-null  object
 1   DiaChi        22826 non-null  object
 2   City          22826 non-null  object
 3   District      22826 non-null  object
 4   MucGia        22826 non-null  object
 5   SoPhongNgu    22232 non-null  object
 6   SoToilet      21078 non-null  object
 7   NoiThat       17514 non-null  object
 8   Lat           22793 non-null  float64
 9   Long          22793 non-null  float64
 10  HuongNha      9178 non-null   object
 11  HuongBanCong  10070 non-null  object
 12  PhapLy        18335 non-null  object
 13  MatTien       20 non-null     object
 14  DuongVao      19 non-null     object
 15  SoTang        21 non-null     object
dtypes: float64(2), object(14)
memory usage: 2.8+ MB

## Drop Những cột không cần

In [4]:
df_raw = df_raw.drop(columns=['SoTang','DuongVao','MatTien'])

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22827 entries, 0 to 22826
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DienTich      22823 non-null  object
 1   DiaChi        22826 non-null  object
 2   City          22826 non-null  object
 3   District      22826 non-null  object
 4   MucGia        22826 non-null  object
 5   SoPhongNgu    22232 non-null  object
 6   SoToilet      21078 non-null  object
 7   NoiThat       17514 non-null  object
 8   Lat           22793 non-null  float64
 9   Long          22793 non-null  float64
 10  HuongNha      9178 non-null   object
 11  HuongBanCong  10070 non-null  object
 12  PhapLy        18335 non-null  object
dtypes: float64(2), object(11)
memory usage: 2.3+ MB

## Số hóa dữ liệu

In [6]:
ac.address_convert_all(df_raw)
oc.direction_convert_all(df_raw,'HuongNha')
oc.direction_convert_all(df_raw,'HuongBanCong')
oc.furnishment_convert_all(df_raw)
oc.legalty_convert_all(df_raw)
nc.area_transform(df_raw)
nc.bedrooms_transform(df_raw)
nc.price_convert(df_raw)
nc.toilets_transform(df_raw)

In [7]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22827 entries, 0 to 22826
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DienTich      22823 non-null  float64
 1   DiaChi        22826 non-null  object
 2   City          22826 non-null  Int32
 3   District      22726 non-null  Int32
 4   MucGia        20322 non-null  object
 5   SoPhongNgu    22232 non-null  float64
 6   SoToilet      21078 non-null  float64
 7   NoiThat       17514 non-null  Int8
 8   Lat           22793 non-null  float64
 9   Long          22793 non-null  float64
 10  HuongNha      9178 non-null   Int8
 11  HuongBanCong  10070 non-null  Int8
 12  PhapLy        18335 non-null  Int8
 13  Ward          21960 non-null  Int32
dtypes: Int32(3), Int8(4), float64(5), object(2)
memory usage: 1.7+ MB

## Lưu ra file

In [8]:
df_raw.to_csv('../../data/batdongsan/numerized/ChungCu_numerized-dataset.csv',index=False)